<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Soccer Teams</title>
        <style>
            tr:nth-child(even){
                background:lightgray;
            }
            th, td{
                min-width:100px;
                height:30px;
                text-align:left;
            }
        </style>
    </head>
    <body>
        <h3>Soccer Teams</h3>
        <% if(teams.length > 0) { %>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>City</th>
                        <th>Year</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% teams.forEach(function(team) { %>
                        <tr>
                            <td><%= team.name %></td>
                            <td><%= team.city %></td>
                            <td><%= team.year %></td>
                            <td><a href="delete/<%= team._id %>">Delete</a></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } %>
        <a href="add">Add new team</a>
    </body>
</html>